* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #c7c7c7;
}

.delete {
  color: #dd4e4e;
}
.delete:hover {
  color:#f10606;
}
.success, .error {
  color: #FFFFFF;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background-color: rgba(57, 173, 12, 0.65);
}

.error {
  background-color: rgba(255, 0, 0, 0.719);
  color: #FFF;
  font-weight: bold;
}



